body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.mui-carousel {
    align-items: center;
    justify-content: space-between;
    gap: 3;
    width: inherit;
}
.mui-carousel > div:nth-child(1) {
}